<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQEvent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46C41AAE1C521C830003DFF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46C41ABD1C521C830003DFF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46C41AC81C521C830003DFF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
