<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQLocalShared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46C0181F1C51F8A800417AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46C018331C51F8A800417AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46C0183E1C51F8A800417AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
