<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQSprite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>466DE2A51C3F7AE80026567F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466DE2B91C3F7AE80026567F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466DE2C41C3F7AE80026567F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
